<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>{{.title}}</h1>
    <div>
        {{range $index, $post := .posts}}
            <article>
                <h3><a href="/post?post_id={{$post.Id}}">{{$post.Title}}</a></h3>
                <img src="{{$post.Thumbnail}}" alt="">
                <p>{{$post.ShortDescription}}</p>
                <span>{{$post.PubDate}}</span>
            </article>
        {{end}}
    </div>
</body>
</html>